body, html {
 			height: 100%;
		}
		
.leftSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #795548;
}

.rightSection {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.form-container {
	display: flex;
  		justify-content: center;
  		align-items: center;
}

.form-container .fill-full-width {
	flex: 1;
	
}

.row-height {
	height: 500px;
}
				
.border-radius-padding {
	border: 1px solid;
  		padding: 8px;
  		border-radius: 5px;
  		width: 60%;
}

.rusticoLogo {
	font-size: 300px;
	color: #64dd17;
}

.rusticoLabel {
	color: #b2ff59;
}

.submitIcon {
	margin-right: 8px;
}

.rusticoNameLabel {
	font-size: 70px;
	color: #64dd17;
}